
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #ffffff;
  font-family: "Orbitron", "Segoe UI", Arial, sans-serif;
  font-size: 13px;
}


header {
  background: linear-gradient(90deg, #00ff55, #00aa33);
  color: #000;
  text-align: center;
  padding: 8px 0;
}

header h1 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: bold;
}


main {
  padding: 15px;
}

.hds {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}


#miner-panel {
  width: 220px;
  background: #0b2e1a;
  border: 1px solid #00ff66;
  border-radius: 10px;
  padding: 12px;
}

#miner-panel h2 {
  font-size: 14px;
  margin-bottom: 6px;
  color: #7CFF9B;
  text-align: center;
}


#minerID {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  background: #000;
  border: 1px solid #00ff66;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  
}


.suggestions {
  background: #000;
  border: 1px solid #00ff66;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #0f3d2e;
}

.suggestion-item img {
  width: 24px;
  height: auto;
}


#miner-img {
  display: block;
  margin: 10px auto;
  width: 180px;
  height: auto;
  background-color: #f1efef;
  border-radius: 10px;
}


#miner-panel p {
  font-size: 17px;
  margin: 4px 0;
  font-weight: bold;
  
}


#lmt-price {
  width: 50%;
  padding: 5px;
  background: #000;
  border: 1px solid #00ff66;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  
}


table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: bold;
}

th {
  background: #7CFF00;
  color: #000;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  
}

td {
  border: 1px solid #000;
  padding: 4px;
  text-align: center;
  
  
}


table img {
  width: 18px;
  height: auto;
}


tr:nth-child(2),
tr:nth-child(3),
tr:nth-child(4) {
  background: #0f5c2f; 
}

tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(7) {
  background: #1e90ff; 
}

tr:nth-child(8),
tr:nth-child(9),
tr:nth-child(10) {
  background: #7b2cbf; 
}

tr:nth-child(11),
tr:nth-child(12),
tr:nth-child(13) {
  background: #d4a017; 
}

tr:nth-child(14),
tr:nth-child(15),
tr:nth-child(16) {
  background: #ff4f81; 
}


footer {
  text-align: center;
  margin-top: 20px;
  font-size: 11px;
  color: #aaa;
  font-weight: bold;
}


@media (max-width: 768px) {
  .hds {
    flex-direction: column;
  }

  #miner-panel {
    width: 98%;
  }

  table {
    font-size: 12px;
    width: 98%;
    height: auto;
  }

  table img {
    width: 23px;
  }
}
